/////////////////////////////////////-+++-/////////////////////////////////////////
// Clearfix
// Some styles for clearing floats
/////////////////////////////////////-+++-/////////////////////////////////////////



/////////////////////////////////////-+++-
// This method is via html5boilerplate

// For modern browsers
// 1. The space content is one way to avoid an Opera bug when the
//    `contenteditable` attribute is included anywhere else in the document.
//    Otherwise it causes space to appear at the top and bottom of elements
//    that receive the `clearfix` class.
// 2. The use of `table` rather than `block` is only necessary if using
//    `:before` to contain the top-margins of child elements.
// 3. For IE 6/7 only
//    Include this rule to trigger hasLayout and contain floats.
// 


// a mixin for applying a clearfix after a certain breakpoint
@mixin u-clearfix($bp) {
    @include mq($from: $bp) {
        *zoom: 1; //3
    }

    &:before,
    &:after {
        @include mq($from: $bp) {
            content: " "; //1
            display: table; //2     
        } 
    }

    &:after {
        @include mq($from: $bp) {
            clear: both;
        }
    }    
}


%u-clearfix { @include mq($from: 0px); }

.u-clearfix { @extend %u-clearfix; }
