/////////////////////////////////////-+++-/////////////////////////////////////////
// Iconfont placeholders
// These styles are pulled from their respective sources. For use when we can't
// add the <i class="icon-arrow"></i> markup and want to add the icons to
// existing markup.
/////////////////////////////////////-+++-/////////////////////////////////////////



// icomoon placeholder
%u-icomoon{
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// fontawesome placeholder
%u-fontawesome {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}
