/////////////////////////////////////-+++-/////////////////////////////////////////
// Links 
// some styles for different types of links (buttons, tags, special misc links)
/////////////////////////////////////-+++-/////////////////////////////////////////





// Some default button classes that buttons extend

%u-buttonDefault {
	border: 2px solid #000;
	border-radius: 0;
	text-decoration: none;
	display: inline-block;
	background: $link-color;
	color: white;
	transition: background $animation;

	&:hover {
		cursor: pointer;
		text-decoration: none;
		background: $link-colorHover;
		color: #fff;
	}	
}

// some of the real button classes

%u-button {
	@extend %u-buttonDefault;
	@extend %u-text--blocked;
	padding: 4px 15px;
}


// button and link utility classes should always go on a wrapper to the <a> tag or
// an element with the class of 'u-fakeLink' since it is sometimes difficult to 
// put classes on <a> tags in some CMS systems.
$button-collection: 
button
;

@each $i in $button-collection { .u-#{$i} { a, .u-fakeLink { @extend %u-#{$i}; } } }

