/////////////////////////////////////-+++-/////////////////////////////////////////
// Spacing utility classes
//
/////////////////////////////////////-+++-/////////////////////////////////////////



/////////////////////////////////////-+++-
// some variables


$spacing: 20px;



/////////////////////////////////////-+++-
// default spacing between basic content elements


h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
p,
blockquote,
input {
    margin: 0 0 $spacing; // need full margin values here to reset browser defaults
}



/////////////////////////////////////-+++-
// some spacing utility classes


%u-truncate {
    margin-bottom: 0;
}

%u-spacing {
    margin-bottom: $spacing;
}

$spacing-collection: 
truncate
spacing
;

@each $i in $spacing-collection { .u-#{$i} { @extend %u-#{$i}; } }
