/////////////////////////////////////-+++-/////////////////////////////////////////
// Stacked List
// a simple stacked list
/////////////////////////////////////-+++-/////////////////////////////////////////


%u-stackedList {
    list-style: none;
    padding: 0;
    margin: 0;
}

.u-stackedList { @extend %u-stackedList;  }

// %u-smallStackedList {
//     @extend %u-nolist;

//     > li:not(:last-child),
//     > div:not(:last-child) {
//         margin-bottom: 20px; 
//     }
// }

// .u-smallStackedList { @extend %u-smallStackedList;  }

// %u-bigStackedList {
//     @extend %u-nolist;

//     > li:not(:last-child),
//     > div:not(:last-child) {
//         margin-bottom: 90px; 
//     }
// }

// .u-bigStackedList { @extend %u-bigStackedList;  }
