/////////////////////////////////////-+++-/////////////////////////////////////////
// Global Variables
/////////////////////////////////////-+++-/////////////////////////////////////////




// import vendor mixins (dont edit these) 
@import 'mixins/vendor/mq';
@import 'mixins/vendor/ems';
@import 'mixins/vendor/placeholder';
@import 'mixins/vendor/triangles';
@import 'mixins/vendor/brand-colors';

// import custom mixins (edit these if you want) 
@import 'mixins/custom/absolute';
@import 'mixins/custom/multiRowGrid';
@import 'mixins/custom/equalColRow';
@import 'mixins/custom/fixedFluidRow';
@import 'mixins/custom/variablesDefault';



/////////////////////////////////////-+++
// fonts



$SansSerif : 'Raleway', $helvetica;
$Serif: 'Neuton', $georgia;


/////////////////////////////////////-+++
// colors


$blue: dodgerblue;

$black: #000000;
$white: #ffffff;
$gray: #888888;
$grayLight: #eeeeee;

$background: #fff;
$text: $black;

$linkColor: $blue;
$linkColorHover: lighten($linkColor, 10%);
$linkHoverColor: $linkColorHover;



/////////////////////////////////////-+++
// breakpoints


$mq-breakpoints: (
    small-bp:        600px,
    mobilemenu-bp: 	 1100px,
    desktop-bp:    	 1250px
) !default;

$mq-static-breakpoint: desktop-bp;



/////////////////////////////////////-+++
// Misc. values


$comp-max-width: 1588px; // if working from a PSD or other static comp
$content-max-width: 940px; // content cap. Lines of text shouldnt ever span longer then this.
$page-max-width: 2000px;  // if the page doesn't span to the windows edge at very large screens

$animation-speed: .2s;
$animation-easing: ease;
$animation: $animation-speed $animation-easing;


// flag for ie8 support or not. Used in layout mixins.
$ie8: false;


