<article class="<%= name %>">
    <header clas="<%= name %>__header">
        <h3 class="<%= name %>__title">Lorem Ipsum</h3>
    </header>
    <div class="<%= name %>__body">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean porta nisl in semper suscipit. Aenean pretium tincidunt erat eget efficitur.</p>
    </div>
</article>
