

	<div class="Cover"></div>

	</div><!--/.SiteWrapper-->


	<!--DO NOT REMOVE-->
	{{ patternLabFoot | raw }}

	<!-- jquery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

	<!-- Minified and Concatenated Vendor and Custom Scripts -->
	<script src="../../../../build/js/plugins.min.js"></script>
	
	</body>
</html>