

			<div class="Cover"></div>

		</div><!--/.SiteWrapper2-->
	</div><!--/.SiteWrapper1-->


	<!--DO NOT REMOVE-->
	{{ patternLabFoot | raw }}

	<!-- jquery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

	<!-- Minified and Concatenated Vendor Scripts -->
	<script src="../../../../build/js/plugins.min.js"></script>

	<!-- Minified and Concatenated Custom Scripts -->
	<script src="../../../../build/js/custom.min.js"></script>
	
	</body>
</html>