<header class="SiteHeader">
    <div class="Frame">
        <div class="Frame__inside">
            <h1>Egg</h1>
            <!--//-+++- DONT REMOVE THIS COMMENT! its used by yeoman | header -+++-//-->
        </div>
    </div>
</header><!--/.SiteHeader-->

<!--//-+++- DONT REMOVE THIS COMMENT! its used by yeoman | mobilemenu -+++-//-->
