<header class="SiteHeader">
    {% embed "misc-Frame" with { frameclass : "Frame--dark" } %}
        {% block frame_content %}
            <div class="u-alignCenter">This is the header</div>
            <!--//-+++- DONT REMOVE THIS COMMENT! its used by yeoman | header -+++-//-->
        {% endblock %}
    {% endembed %}
</header><!--/.SiteHeader-->

<!--//-+++- DONT REMOVE THIS COMMENT! its used by yeoman | mobilemenu -+++-//-->
