<div class="SecondaryMenu">
    <ul>
        {% for post in secondarymenu %}
            {% if post.title != null %}
              <li><a href="">{{ post.title }}</a></li>
            {% endif %}
        {% endfor %} 
    </ul>
</div>
