/////////////////////////////////////-+++-/////////////////////////////////////////
// Print stylesheet
//
// Easier and more perfomant to just include it here instead of creating a seperate 
// stylesheet
//
// nabbed from http://spacebase.space150.com/
/////////////////////////////////////-+++-/////////////////////////////////////////



.u-visiblePrint { display: none !important; }

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        filter: none !important;
        text-shadow: none !important;
    }

    @page { margin: 1.5cm .5cm 2cm; }
    thead { display: table-header-group; }
    table, tr, img { page-break-inside: avoid; }
    p, h2, h3 { orphans: 3; widows: 3; }
    h1, h2, h3, h4 { page-break-after: avoid; }
    a, a:visited { text-decoration: underline; }

    /*
    a[href]:after { content: " (" attr(href) ")"; }
    abbr[title]:after { content: " (" attr(title) ")"; }
    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after { content: ""; }
    */

    .u-visiblePrint { display: inherit !important; }
    .u-hiddenPrint { display: none !important; }


    // hide specific elements
    .SiteHeader, 
    .Social,
    .Post__leftRail,
    .Post__rightRail,
    .Post__afterBody,
    .ListBox,
    .Breadcrumbs {
        display: none;
    }

    // truncate elements
    .Post {
        padding: 0;
        margin-bottom: 0;
    }
}
