/////////////////////////////////////-+++-/////////////////////////////////////////
// Social menu
// Shows up in the header and footer
/////////////////////////////////////-+++-/////////////////////////////////////////


.Social {

    ul {
        @extend %u-inlineList--spacing;
    }
 
    a {
        color: $text;

        &:hover {
            color: $link-color;
        }
    }

    .facebook a:hover       { color: $color--facebook;}
    .twitter a:hover        { color: $color--twitter;}
    .google-plus a:hover    { color: $color--google;}
    .youtube a:hover        { color: $color--youtube;}
}
