/////////////////////////////////////-+++-/////////////////////////////////////////
// Styles for drupal specific stuff - anything unique to random drupal stuff
//
/////////////////////////////////////-+++-/////////////////////////////////////////


/////////////////////////////////////-+++-
// image alignment for media added via the WYSIWYG

.wp-caption {
    margin: $CaptionMargin 0;
    position: relative;
    display: table;

    .wp-caption-text {
        @include text-s;
        background: rgba(255,255,255,.15);
        padding: 10px 13px;
        display: table-caption;
        caption-side: bottom;
        margin-bottom: 0;
    }

    a {
        display: block;
    }

    img {
        margin: 0;
        display: block;
    }
}

.wp-caption.aligncenter,
img.aligncenter {
    margin: 0 auto;
}

.wp-caption.alignleft,
.wp-caption.alignright,
img.alignleft,
img.alignright {
    position: relative;

    @include mq($from: $CaptionImage-bp) {
        max-width: 50%;
        margin-bottom: $CaptionMargin;
    }

    @include mq($from: 1250px) {
        max-width: 469px;
    }
}

.wp-caption.alignright,
img.alignright {

    @include mq($from: $CaptionImage-bp) {
        float: right;
        margin-left: $CaptionMargin;
    }
}

.wp-caption.alignleft,
img.alignleft {

    @include mq($from: $CaptionImage-bp) {
        float: left;
        margin-right: $CaptionMargin;
    }
}


