/////////////////////////////////////-+++-/////////////////////////////////////////
// Styles for drupal specific stuff - anything unique to random drupal stuff
// Like WYSIWYG styles etc.
/////////////////////////////////////-+++-/////////////////////////////////////////


/////////////////////////////////////-+++-
// image alignment for media added via the WYSIWYG


.alignleft {
    float: left;
    margin: 0 30px 30px 0;
}

.alignright {
    float: right;
    margin: 0 0 30px 30px;
}

.alignright,
.alignleft {
    img {
        margin-top: 0;
    }
}

.wp-caption {
    a {
        display: block;
    }
}

.wp-caption-text {
    @include text-s;
}


// unique styles for the wysiwyg content

.u-WYSIWYG {

    p:last-child {
        margin-bottom: 0;
    }


    p + .CaptionImage {
        margin-top: 50px;
    }

    img {
        display: block;
        margin: 30px 0;
    }
}


