<nav class="Social">
	<ul>
		<li class="facebook"><a href=""><span class="u-visuallyHidden">facebook</span><i class="icon-facebook"></i></a></li>
		<li class="twitter"><a href=""><span class="u-visuallyHidden">twitter</span><i class="icon-twitter"></i></a></li>
		<li class="google-plus"><a href=""><span class="u-visuallyHidden">google plus</span><i class="icon-google-plus"></i></a></li>
		<li><a href=""><span class="u-visuallyHidden">email</span><i class="icon-envelope-o"></i></a></li>
	</ul>
</nav>