{% extends "main.twig" %}

{% block main %}

    {% embed "02-components/misc/Frame"  with {"frameclass": "MainFrame"} %}
        {% block frame_content %}

            <div><strong>Region: "Main"</strong></div>
            <div>- Dummy Component 1</div>
            <div>- Dummy Component 2</div>

        {% endblock %}
    {% endembed %}

{% endblock %}