{% extends "main.twig" %}

{% block main %}

    {% embed "misc-Frame" %}
        {% block frame_content %}

            <div><strong>Region: "Main"</strong></div>
            <div>- Lorem Ipsum Component 1</div>
            <div>- Lorem Ipsum Component 2</div>

        {% endblock %}
    {% endembed %}

    {% embed "misc-Frame" %}
        {% block frame_content %}

            <div><strong>Region: "Secondary"</strong></div>
            <div>- Lorem Ipsum Component 3</div>

        {% endblock %}
    {% endembed %}

{% endblock %}