<ul class="u-stack">
    <li>Item 1</li>
    <li>Item 2</li>
    <li>Item 3</li>
</ul>
<hr/>
<ul class="u-tinyStack">
    <li>Item 1</li>
    <li>Item 2</li>
    <li>Item 3</li>
</ul>
<hr/>
<ul class="u-smallStack">
    <li>Item 1</li>
    <li>Item 2</li>
    <li>Item 3</li>
</ul>
<hr/>
<ul class="u-mediumStack">
    <li>Item 1</li>
    <li>Item 2</li>
    <li>Item 3</li>
</ul>