/////////////////////////////////////-+++-/////////////////////////////////////////
// Nub
// Nubs are small rectangular boxes that show up beneath or above
// objects. Its a little visual treatment sometimes used in designs
/////////////////////////////////////-+++-/////////////////////////////////////////


$nub-color: $link-color;
$nub-width: 53px;
$nub-height: 6px;


// styles for all nubs, no matter the positioning
%u-nubDefaults {
    position: relative;

    &:after {
        content: '';
        width: $nub-width;
        height: $nub-height;
        background: $nub-color;
    }
}


// Nub variants depending on where they need to be positioned

%u-nubBottomLeft {
    @extend %u-nubDefaults;
    padding-bottom: 20px;

    &:after {
        @include u-absolute(null, null, 0, 0);
    }
}

%u-nubCenter {
    @extend %u-nubDefaults;

    &:after {
        @include u-absoluteCenter("bottom");
    }
}

%u-nubTopCenter {
    @extend %u-nubDefaults;

    &:after {
        @include u-absoluteCenter("top");
    }
}


$nub-collection: 
nubBottomLeft
nubTopCenter
nubCenter
;

@each $i in $nub-collection { .u-#{$i} { @extend %u-#{$i}; } }