/////////////////////////////////////-+++-/////////////////////////////////////////
// BrandList
// a special list with special brand dots
/////////////////////////////////////-+++-/////////////////////////////////////////



.u-brandList {
    overflow: auto;

    li {
        list-style: none;
        position: relative;

        &:before {
            @extend %u-icomoon;
            content: '\f111'; // this is the value for a 'dot' with fontawesome via icomoon
            color: $link-color;
            font-size: 6px;
            position: relative;
            top: -4px;
            padding-right: 10px;
        }
    }
}

.u-brandList { @extend %u-brandList;  }