/////////////////////////////////////-+++-/////////////////////////////////////////
// PipeList
// an inline list seperated by pipes
/////////////////////////////////////-+++-/////////////////////////////////////////


$pipeList-border: 1px solid $text;

.u-pipeList {
    @extend %u-inlineList;

    > li:not(:last-child),
    > div:not(:last-child) {
        border-right: $pipeList-border;
        margin-right: 8px;
        padding-right: 10px;
    }
}

.u-pipeList { @extend %u-pipeList;  }