{% extends "main.twig" %}

{% block main %}

    {% embed "misc-Frame" %}
        {% block frame_content %}

            <div><strong>Region: "Main"</strong></div>
            <div>- dummy component 1</div>
            <div>- dummy component 2</div>

        {% endblock %}
    {% endembed %}

{% endblock %}