/////////////////////////////////////-+++-/////////////////////////////////////////
// Generic Variables - for ease of use
/////////////////////////////////////-+++-/////////////////////////////////////////



/////////////////////////////////////-+++
// fonts


$tnr 			: "Times New Roman", Times, Georgia, "DejaVu Serif", serif;
$times 			: Times, "Times New Roman", Georgia, "DejaVu Serif", serif;
$georgia 		: Georgia, "Times New Roman", "DejaVu Serif", serif;
$verdana 		: Verdana, Tahoma, "DejaVu Sans", sans-serif;
$tahoma 		: Tahoma, Verdana, "DejaVu Sans", sans-serif;
$helvetica 		: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
$arial 			: Arial, Helvetica, "Nimbus Sans L", sans-serif;
$courier 		: "Courier New", "DejaVu Sans Mono", monospace, sans-serif;
$cursive 		: "Brush Script MT", cursive;



/////////////////////////////////////-+++
// brand colors


$color--facebook 	: #3B5998;
$color--twitter  	: #33CCFF;
$color--youtube  	: #FF3333;
$color--pinterest	: #990000;
$color--skype    	: #12A5F4;
$color--flickr   	: #FE0883;
$color--foursquare	: #8FD400;
$color--instagram	: #4E433C;
$color--linkedin 	: #4875B4;
$color--tumblr   	: #2B4964;
$color--vimeo    	: #86B32D;
$color--google   	: #D6492C;
$color--fk       	: #66B360;
$color--sharethis	: #00bf00;



/////////////////////////////////////-+++
// Device sizes


$iphone-4			: em(320);
$iphone-6			: em(375);
$iphone-6plus		: em(414);
$galaxy-siii		: em(360);
$google-nexus-4		: em(384);
$galaxy-note		: em(400);

$ipad-1				: em(768);
$google-nexus-10	: em(800);
$galaxy-tab			: em(600);
$galaxy-tab-10		: em(533);
$asus-nexus			: em(603);
$surface			: em(1366);
$surface-pro		: em(1280);
$playbook			: em(1024);

$chromebook			: em(1366);
$macbookpro-17		: em(1920);
$macbookpro-15		: em(1440);
$macbookpro2-15		: em(1680);
$macbookpro2-13		: em(1280);
$imac-27			: em(2560);
$imac-21			: em(1920);











