<div class="sg-layoutDemo">

	<div class="u-grid">
		<div class="u-grid__80">
			<span>80% col</span>
		</div>
		<div class="u-grid__20">
			<span>20% col</span>
		</div>
		<div class="u-grid__75">
			<span>75% col</span>
		</div>
		<div class="u-grid__25">
			<span>25% col</span>
		</div>
		<div class="u-grid__66">
			<span>66% col</span>
		</div>
		<div class="u-grid__33">
			<span>33% col</span>
		</div>
		<div class="u-grid__60">
			<span>60% col</span>
		</div>
		<div class="u-grid__40">
			<span>40% col</span>
		</div>
		<div class="u-grid__50">
			<span>50% col</span>
		</div>
	</div>

</div>