<nav class="Breadcrumbs">
    <h3 class="u-visuallyHidden">Breadcrumbs</h3>
    <ul class="u-inlineList">
        <li><a href="">Breadcrumb 1</a></li>
        <li><a href="">Breadcrumb 2</a></li>
        <li>Breadcrumb 3</li>
    </ul>
</nav>