<div class="Image {{ class }}">
    <div class="Image__creditWrapper">
	   <img src="http://dummyimage.com/400x300/888/fff.png" alt="">
	   <div class="Image__credit">{{ post.author }}</div>
    </div><!-- /.Image__creditWrapper -->
    <div class="Image__caption"><p>{{ post.excerpt.long }} </p></div>
</div><!-- /.Image -->