/////////////////////////////////////-+++-/////////////////////////////////////////
// BreadCrumbs
/////////////////////////////////////-+++-/////////////////////////////////////////



.Breadcrumbs {
    
    li {
        @extend %u-text--small;

        &:not(:last-child) {

            &:after {
                content: '>';
                padding: 0 6px 0 10px;
                font-size: 10px;
            }
        }
    }
}
