/////////////////////////////////////-+++-/////////////////////////////////////////
// BreadCrumbs
/////////////////////////////////////-+++-/////////////////////////////////////////



.Breadcrumbs {

    ul {
        @include inlineList;
    }
    
    li {
        @include text-s;

        &:not(:last-child) {

            &:after {
                content: '>';
                padding: 0 6px 0 10px;
                font-size: 10px;
            }
        }
    }
}
