/////////////////////////////////////-+++-/////////////////////////////////////////
// Caption Image object
// These classes are specifically for handling image captions and credits
/////////////////////////////////////-+++-/////////////////////////////////////////



.CaptionImage {
    position: relative;
    display: table;

    img {
        display: block;
    }

    &__creditWrapper {
        position: relative;
    }

    &__credit {
        @extend %u-tinyText;
        @include u-absolute(null, 0, 0, null);
        margin-bottom: 0;
        background: #000;
        color: #fff;
        padding: 6px 12px;
    }

    &__caption {
        @extend %u-smallText;
        display:table-caption;
        caption-side:bottom;
        margin-top: 10px;

        p {
            margin-bottom: 0;
        }
    }
}
