/////////////////////////////////////-+++-/////////////////////////////////////////
// Social menu for the header
/////////////////////////////////////-+++-/////////////////////////////////////////



/////////////////////////////////////-+++-
// sharing links in the header

.HeaderSocial {  
    margin-bottom: 20px;

    ul {
        @include inlineList;
    }

    li {
        margin-bottom: 14px;
        margin-right: 14px;
    }

    a {

        path {
            transition: fill $animation;
        }

        &:hover {

            path {
                fill: $linkColorHover;
            }
        }
    }

    &__twitter a {

        path {
            fill: $bc-twitter;
        }

        &:hover path{
            fill: lighten($bc-twitter, 10%);
        }
    }

    &__facebook a {

        svg {
            height: 30px;
            width: 15px;
        }

        path {
            fill: $bc-facebook;
        }

        &:hover path{
            fill: lighten($bc-facebook, 10%);
        }
    }
}
