/////////////////////////////////////-+++-/////////////////////////////////////////
// Primary site search in the header
/////////////////////////////////////-+++-/////////////////////////////////////////



.HeaderSearch {

    .InputGroup {
        display: inline-block;
        vertical-align: top;
        margin-right: -.35em;

        input {
            margin-bottom: 0;
        }
    }

    .InputGroup--submit {
        position: static;
    }
}





