/////////////////////////////////////-+++-/////////////////////////////////////////
// Primary site navigation in the header
/////////////////////////////////////-+++-/////////////////////////////////////////


$PrimaryNav-bp: mobilemenu-bp;
$PrimaryNav-height: 52px;

.PrimaryNav {

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            display: inline-block;
            vertical-align: top;
            margin-right: 10px;
            position: relative;
            height: $PrimaryNav-height;
            transition: background .2s ease;

            @include mq($from: $PrimaryNav-bp) {
                margin-right: 20px;
            }
        }

        ul {
            position: absolute;
            top: $PrimaryNav-height;
            left: 0;
            background: $white;
            padding: 30px;
            min-width: 260px;
            z-index: 10;
            visibility: hidden;
            opacity: 0;
            transition: visibility .2s ease, opacity .2s ease;
            display: none;
            text-align: left;

            @include mq($from: mobilemenu-bp) {
                display: block;
            }

            li {
                padding: 0;
                display: block;
                height: auto;
            }

            a {
                font-size: 20px;
                padding: 0;
            }
        }
    }

    a {
        display: block;
        font-weight: 700;
        padding: 10px 20px;

        @include mq($from: $PrimaryNav-bp) {
            font-size: 30px;
        }
    }

    > ul {
        margin-left: -14px;
        
        > li:hover {
            background: $white;

            ul {
                visibility: visible; 
                opacity: 1;
            }
        }
    }

    // active state
    li.active,
    li.active-trail {
        a {

        }
    }
}

