/////////////////////////////////////-+++-/////////////////////////////////////////
// Primary site navigation in the header
/////////////////////////////////////-+++-/////////////////////////////////////////


$PrimaryNav-bp: mobilemenu-bp;

.PrimaryNav {

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            display: inline-block;
            vertical-align: top;
            margin-right: 10px;

            @include mq($from: $PrimaryNav-bp) {
                margin-right: 40px;
            }
        }
    }

    a {
        display: block;
        font-weight: 700;

        @include mq($from: $PrimaryNav-bp) {
            font-size: 30px;
            line-height: 32px;
        }
    }

    // active state
    li.active,
    li.active-trail {
        a {

        }
    }
}
