/////////////////////////////////////-+++-/////////////////////////////////////////
// Secondary menu
// the secondary menu, "about campaigns news & Opinion etc."
/////////////////////////////////////-+++-/////////////////////////////////////////


// styles for both mobile menu version and desktop version
.SecondaryMenu {

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    a {
        display: block;
    }
}


// desktop only version
.SiteHeader .SecondaryMenu {
    li {
        display: inline-block;
        vertical-align: top;

        &:not(:last-child) {
            margin-right: 10px;
        }
    }
}


// mobile only version
.MobileMenu .SecondaryMenu {
}
