/////////////////////////////////////-+++-/////////////////////////////////////////
// Social menu for posts
/////////////////////////////////////-+++-/////////////////////////////////////////



/////////////////////////////////////-+++-
// sharing links in the header

.SocialList {  

    ul {
        @extend %u-inlineList;
    }

    li {
        margin-bottom: 14px;
    }

    a {
        background: $link-color;
        width: 60px;
        height: 60px;
        display: block;     
        text-align: center;
        border-radius: 50%;   
        position: relative;
        transition: background $animation;
        margin: 0 auto;

        &:hover {
            background: $link-colorHover;
        }
    }

    &__twitter a {
        background: $color--twitter;

        &:hover {
            background: lighten($color--twitter, 10%);
        }
    }

    &__facebook a {
        background: $color--facebook;

        svg {
            height: 30px;
            width: 15px;
        }

        &:hover {
            background: lighten($color--facebook, 10%);
        }
    }
}


/////////////////////////////////////-+++-
// Sharing links on posts