/////////////////////////////////////-+++-/////////////////////////////////////////
// Social menu for the header
/////////////////////////////////////-+++-/////////////////////////////////////////



/////////////////////////////////////-+++-
// sharing links in the header

.HeaderSocial {  

    ul {
        @extend %u-inlineList;
    }

    li {
        margin-bottom: 14px;
    }

    a {

        path {
            fill: $link-color;
            transition: fill $animation;
        }

        &:hover {

            path {
                fill: $link-colorHover;
            }
        }
    }

    &__twitter a {

        path {
            fill: $bc-twitter;
        }

        &:hover path{
            fill: lighten($bc-twitter, 10%);
        }
    }

    &__facebook a {

        svg {
            height: 30px;
            width: 15px;
        }

        path {
            fill: $bc-facebook;
        }

        &:hover path{
            fill: lighten($bc-facebook, 10%);
        }
    }
}

