<nav class="Breadcrumbs">
    <h3 class="u-visuallyHidden">Breadcrumbs</h3>
    <ul>
        <li><a href="">Home</a></li>
        <li><a href="">Breadcrumb 1</a></li>
        <li><span>Breadcrumb 2</span></li>
    </ul>
</nav>