<div class="FooterContact vcard">
    <span class="adr">
        <p class="org"><strong>Org Name</strong></p>
        <p><span class="street-address">123 St.</span>, </br>
        <span class="region">City, STATE</span> 
        <span class="postal-code">12345</span></p>
    </span>
    <p>Phone: <span class="phone-number">555.123.4567</span></p>
</div>