<nav class="Pagination">
	<h3 class="u-visuallyHidden">Pagination</h3>
	<ul>
		<li class="Pagination__first"><a href="">First</a></li>
		<li class="Pagination__prev"><a href="">Previous</a></li>
		<li><a href="">1</a></li>
		<li><a href="">2</a></li>
		<li><a href="">3</a></li>
		<li><a href="">4</a></li>
		<li class="is-active"><span>5</span></li>
		<li><a href="">6</a></li>
		<li><a href="">7</a></li>
		<li><a href="">8</a></li>
		<li class="Pagination__next"><a href="">Next</a></li>
		<li class="Pagination__last"><a href="">Last</a></li>
	</ul>
	<footer>
		<div>43 Results</div>
		<div>Page 2 of 5</div>
	</footer>
</nav>