<nav class="Pagination">
	<h3 class="u-visuallyHidden">Pagination</h3>
	<ul>
		<li class="Pagination__prev">
			<a href="">
				<svg width="8" height="12" viewBox="0 0 8 12">
					<title>Previous</title>
					<path d="M8 12L2.8 6 8 0H5.2L0 6l5.2 6H8z" fill="#003557" fill-rule="evenodd"/>
				</svg>
			</a>
		</li>
		<li><a href="">1</a></li>
		<li class="is-active"><span>2</span></li>
		<li><a href="">3</a></li>
		<li><a href="">4</a></li>
		<li><a href="">5</a></li>
		<li><a href="">...</a></li>
		<li><a href="">23</a></li>
		<li class="Pagination__next">
			<a href="">
				<svg width="8" height="12" viewBox="0 0 8 12">
					<title>Next</title>
					<path d="M0 0l5.2 6L0 12h2.8L8 6 2.8 0H0z" fill="#003557" fill-rule="evenodd"/>
				</svg>
			</a>
		</li>
	</ul>
</nav><!--/.Pagination-->