<nav class="SocialList">
    <h3>Share</h3>
    <ul>
        <li class="SocialList__twitter">
            <a href="">
                <svg width="27" height="20" viewBox="0 0 27 20" xmlns="http://www.w3.org/2000/svg">
                    <title>Twitter</title>
                    <path d="M26.286 3.06c-.962.39-1.69.482-2.77.6 1.106-.6 1.327-2.016 1.717-3.16-1.027.56-1.534 1.417-2.743 1.638-.962-.95-2.34-1.547-3.86-1.547-2.926 0-5.305 2.198-5.305 4.902 0 .39.052.754.143 1.118C9.06 6.402 5.16 4.452 2.548 1.488c-.455.728-.715 1.573-.715 2.47 0 1.69.936 3.198 2.353 4.07C3.328 8 2.51 7.78 1.794 7.415v.065c0 2.38 1.82 4.356 4.238 4.798-.442.117-.91.182-1.39.182-.34 0-.677-.04-.99-.09.664 1.95 2.627 3.366 4.94 3.405-1.806 1.313-4.094 2.093-6.577 2.093-.43 0-.845-.026-1.26-.065C3.094 19.193 5.874 20 8.864 20c9.75 0 15.068-7.462 15.068-13.936l-.013-.637c1.04-.69 2.12-1.196 2.834-2.17l-.468-.196" fill="#FFF" fill-rule="evenodd" />
                </svg>
            </a>
        </li>
        <li class="SocialList__facebook">
            <a href="">
                <svg width="12" height="23" viewBox="0 0 12 23" xmlns="http://www.w3.org/2000/svg">
                    <title>Facebook</title>
                    <path d="M3.235 22.5V12.11H.755l.072-4.02h2.48l-.072-3.263s-.22-1.65 1.344-3.117c0 0 1.002-1.173 3.006-1.186L8.16.5h3.594v3.752h-2.53S7.83 4.29 7.83 5.522V8.09h3.924l-.978 4.033H7.83V22.5H3.236" fill="#FFF" fill-rule="evenodd" />
                </svg>
            </a>
        </li>
        <li class="SocialList__email">
            <a href="">
                <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <title>Email</title>
                    <path d="M12 15.2L2.375 7.876l9.61-5.272 9.64 5.272L12 15.2zm9.625 5.05c0 .14-.027.272-.065.397l-6.167-6.167 6.232-4.972V20.25zm-18.18 1.338l6.315-6.316 2.24 1.54 2.24-1.54 6.315 6.316c-.098.023-17.012.023-17.11 0zm-1.07-1.338V9.508l6.233 4.972-6.168 6.167c-.038-.125-.065-.257-.065-.397zM12 1L1 7.188V20.25C1 21.77 2.23 23 3.75 23h16.5c1.52 0 2.75-1.23 2.75-2.75V7.187L12 1z" stroke="#FFF" stroke-width=".3" fill="#FFF" fill-rule="evenodd"/>
                </svg>
            </a>
        </li>
    </ul>
</nav><!--/.SocialList-->
