<div class="u-tinyStack">
    <div class="u-text">Default Text Color</div>
    <div class="u-black">Black</div>
    <div class="u-white">White</div>
    <div class="u-gray">Gray</div>
    <div class="u-lightgray">Light Gray</div>
</div>