<div class="u-tinyStack">
    <div class="u-blackBg">Black Background</div>
    <div class="u-whiteBg">White</div>
    <div class="u-grayBg">Gray</div>
    <div class="u-lightgrayBg">Light Gray</div>
</div>