<footer class="SiteFooter">
    {% embed "misc-Frame" %}
        {% block frame_content %}
            <div class="u-alignCenter">This is the footer</div>
            <!--//-+++- DONT REMOVE THIS COMMENT! its used by yeoman -+++-//-->
        {% endblock %}
    {% endembed %}
</footer>
