<footer class="SiteFooter">
    <div class="Frame Frame--gray">
    	<div class="Frame__inside">
    		<p>This is the Footer</p>
            <!--//-+++- DONT REMOVE THIS COMMENT! its used by yeoman -+++-//-->
    	</div>
    </div>
</footer>
