{% extends "main.twig" %}

{% block main %}

    {% embed "02-components/misc/Frame" %}
        {% block frame_content %}

            {% embed "02-components/custom/Post" %}
                {% block post_body %}
                    <blockquote>
                        <p>It may be hard for an egg to turn into a bird: it would be a jolly sight harder for it to learn to fly while remaining an egg. We are like eggs at present. And you cannot go on indefinitely being just an ordinary, decent egg. We must be hatched or go bad.</p>
                        <footer>C.S. Lewis</footer>
                    </blockquote>
                {% endblock %}
            {% endembed %}

        {% endblock %}
    {% endembed %}

{% endblock %}