/////////////////////////////////////-+++-/////////////////////////////////////////
// Chosen Select dropdowns
// These styles override those that the chosen plugin provides.
//
// @todo: this needs to be refactored to be able to take variables
//
// https://harvesthq.github.io/chosen/
/////////////////////////////////////-+++-/////////////////////////////////////////



$chosen-border-width: 2px;
$chosen-border-color: $gray-light;
$chosen-border: $chosen-border-width solid $chosen-border-color;
$chosen-background: #fff;
$chosen-color: $text;


.chosen-container {
    @extend %u-text;
    width: auto !important;
}

.chosen-container-single .chosen-single,
.chosen-container-active.chosen-with-drop .chosen-single,
.chosen-container .chosen-drop {
    @extend %u-defaultInput;
    color: $chosen-color;
    box-shadow: none;
    background: $chosen-background;
    border-color: $chosen-border-color;
}

.chosen-container-active.chosen-with-drop .chosen-single {
    border-bottom: none;
}

.chosen-container .chosen-drop {
    border-top: none;
    padding: 0;
    height: auto;
}

// needs to be updated with your caret.
.chosen-container-single .chosen-single div {
    background: transparent url('../img/caret-down.svg') no-repeat center center !important;
    width: 10px;
    height: 10px;
    padding-top: 39px;
    padding-right: 33px;

    b {
        display: none;
    }
}

.chosen-container-active.chosen-with-drop .chosen-single div {
    transform: rotate(180deg);
}

.chosen-container .chosen-results li {
    @extend %u-smallText;
}

.chosen-container-single .chosen-search {
    @extend %u-smallText;
}

.chosen-container .chosen-results li.active-result.highlighted {
    background: $link-color;
}



/////////////////////////////////////-+++-/////////////////////////////////////////
// Select dropdowns
// Chosen doesn't load on touch devices - so we still need to have some styles here
// for regular select dropdowns
//
//  <div class="u-select">
//      <select>
//          <option>Option One</option>
//          <option>Option Two</option>
//          <option>Option Three</option>
//      </select>
//  </div>
//
// http://html5doctor.com/element-index/#select
/////////////////////////////////////-+++-/////////////////////////////////////////



$select-borderColor: $gray;
$select-borderColorHover: $link-color;
$select-background: #fff;


.touch {
    .u-select {
        @extend %u-defaultInput;
        height: auto;
        box-shadow: none;
        background: #fff;
        border-color: #fff;
        position: relative;
        display: block;
        overflow: hidden;
        width: 100%;
        max-width: 100%;
        background: $select-background;
       
        // Hover style - tricky because we're clipping the overflow
        &:hover,
        &:focus {
          border-color: #fff;
        }
    }

    select {
        width: 110%;   // Make sure the select is wider than the container so we can clip the arrow 
        max-width: 110%;
        min-width: 110%;
        appearance: none; // Remove select styling
        -webkit-appearance: none;
        -moz-appearance: window; // Ugly Firefox way of doing it
        text-indent: 0.01px;
        text-overflow: "";
        background:none;
        border: none;
        outline: none;
        display: block;
    }

    // This hides native dropdown button arrow in IE 
    select::-ms-expand {
        display: none;
    }

    // Focus style
    select:focus {
        outline: none;
    }

    // This hides focus around selected option in FF
    select:-moz-focusring {
        color: transparent;
        text-shadow: 0 0 0 #000;
    }
}
