/////////////////////////////////////-+++-/////////////////////////////////////////
// Cover
/////////////////////////////////////-+++-/////////////////////////////////////////


.Cover {
    @include u-absolute(0, null, null, 0);
    width: 100%;
    height: 100%;
    z-index: 100;
    background: rgba(57,74,100,.8);
    opacity: 0;
    transition: opacity .5s ease;
    display: none;

    &.is-out {
        display: block;
    }

    &.is-dark {
        opacity: 1;
    }
}