/////////////////////////////////////-+++-/////////////////////////////////////////
// Hamburger menu
//
// Basic hamburger menu. With animation to X.
//
// Expects markup like this:
//
//  <div class="Hamburger">
//      <span class="Hamburger__icon"><span></span></span>
//      <span class="Hamburger__text">Menu</span>
//  </div>
//
// It turns into an X when the body gets a class of 'active-MobileMenu'
//
/////////////////////////////////////-+++-/////////////////////////////////////////


$Hamburger-color: #fff;
$Hamburger-hoverColor: #fff;
$Hamburger-barWidth: 4px;
$Hamburger-spacing: 7px;
$Hamburger-animation: .2s;

.Hamburger {
    background: $gray;

    @include mq($from: mobilemenu-bp) {
        display: none;
    }

    &:hover {
        cursor: pointer;
    }

    &__text {
        @extend %u-smallText;
        text-align: center;
        display: block;
        color: #fff;
        opacity: 1;
        transition: background $animation, opacity .5s ease;
        z-index: 101;
        position: relative;
    }

    &__iconWrapper {
        display: block;
        padding: 12px 10px;
        margin: 10px auto 0;
        transition: background $animation;
        width: 55px;
        z-index: 101;
        position: relative;
    }

    &__icon {
        height: ($Hamburger-barWidth * 3) + ($Hamburger-spacing * 2);
        transition: margin $Hamburger-animation;

        span,
        &:before,
        &:after {
            content: '';
            display: block;
            width: 100%;
            height: $Hamburger-barWidth;
            background: $Hamburger-color;
            transform: translateY(0) rotate(0);
            opacity: 1;
            transition: all $Hamburger-animation;
            border-radius: 2px;
        }

        &:before,
        span {
            margin-bottom: $Hamburger-spacing;
        }
    }

    .active-MobileMenu & {

        .Hamburger__icon:before {
            transform: translateY(($Hamburger-spacing + $Hamburger-barWidth)) rotate(-45deg);
        }

        .Hamburger__icon:after {
            transform: translateY(-($Hamburger-spacing + $Hamburger-barWidth)) rotate(45deg);
        }

        .Hamburger__icon span {
            opacity: 0;
        }

        .Hamburger__icon {
            margin-top: 8px;
        }
    }
}
