/////////////////////////////////////-+++-/////////////////////////////////////////
// Offcanvas
/////////////////////////////////////-+++-/////////////////////////////////////////



$Offcanvas-width: 220px;
$Offcanvas-animation: 0.4s;
$Offcanvas-background: $red repeat;

$Offcanvas-direction: 'left'; // change to "right" if you want it on the other side

.SiteWrapper1 {
    overflow: hidden;
    position: relative;
}

.SiteWrapper2 {
    transition: transform $Offcanvas-animation ease;
    position: relative;

    .js.active-MobileMenu & {

        @if $Offcanvas-direction == 'left' {
            transform: translate($Offcanvas-width, 0px);
        } @else if $Offcanvas-direction == 'right' {
            transform: translate(-($Offcanvas-width), 0px);
        }

        @include mq($from: mobilemenu-bp) {
            transform: none;
        }
    }
}

#MobileMenu__content {
    display: block;
    background: $Offcanvas-background;

    a {
        color: #fff;
    }

    @include mq($from: mobilemenu-bp) {
        display: none;
    }

    .js & {
        height: 100%;
        z-index: 500;
        position: absolute;
        top: 0;
        width: $Offcanvas-width;

        @if $Offcanvas-direction == 'left' {
            transform: translate(-100%, 0px);
            left: 0;
        } @else if $Offcanvas-direction == 'right' {
            transform: translate(100%, 0px);
            right: 0;
        }

        @include mq($from: mobilemenu-bp) {
            height: auto;
            width: auto;
            right: auto;
            left: auto;
            top: auto;
            position: relative;
            transform: translate(0, 0);
        }
    }
}

// hide the dropshadow and the trigger button on larger screens
#MobileMenu__trigger,
#MobileMenu__content:before {
    @include mq($from: mobilemenu-bp) {
        display: none;
    }  
}


/////////////////////////////////////-+++-/////////////////////////////////////////
// Hamburger menu
//
// Basic hamburger menu. With animation to X.
//
// Expects markup like this:
//
//  <div class="Hamburger">
//      <span class="Hamburger__icon"><span></span></span>
//      <span class="Hamburger__text">Menu</span>
//  </div>
//
// It turns into an X when the body gets a class of 'active-MobileMenu'
//
/////////////////////////////////////-+++-/////////////////////////////////////////


$Hamburger-color: #fff;
$Hamburger-hoverColor: #fff;
$Hamburger-barWidth: 4px;
$Hamburger-spacing: 7px;
$Hamburger-animation: .2s;


.Hamburger {
    margin-bottom: 20px;

    @include mq($from: mobilemenu-bp) {
        display: none;
    }

    &:hover {
        cursor: pointer;
    }

    &__text {
        @include label;
        display: block;
        color: #fff;
        opacity: 1;
        transition: background $animation, opacity .5s ease;
        z-index: 101;
        position: relative;
        margin-top: 10px;
    }

    &__iconWrapper {
        display: block;
        transition: background $animation;
        width: 45px;
        z-index: 101;
        position: relative;
    }

    &__icon {
        height: ($Hamburger-barWidth * 3) + ($Hamburger-spacing * 2);
        transition: margin $Hamburger-animation;

        span,
        &:before,
        &:after {
            content: '';
            display: block;
            width: 100%;
            height: $Hamburger-barWidth;
            background: $Hamburger-color;
            transform: translateY(0) rotate(0);
            opacity: 1;
            transition: all $Hamburger-animation;
            border-radius: 2px;
        }

        &:before,
        span {
            margin-bottom: $Hamburger-spacing;
        }
    }

    .active-MobileMenu & {

        .Hamburger__icon:before {
            transform: translateY(($Hamburger-spacing + $Hamburger-barWidth)) rotate(-45deg);
        }

        .Hamburger__icon:after {
            transform: translateY(-($Hamburger-spacing + $Hamburger-barWidth)) rotate(45deg);
        }

        .Hamburger__icon span {
            opacity: 0;
        }

        .Hamburger__icon {
            margin-top: 8px;
        }
    }
}


/////////////////////////////////////-+++-/////////////////////////////////////////
// Cover
/////////////////////////////////////-+++-/////////////////////////////////////////


.Cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: rgba(57,74,100,.8);
    opacity: 0;
    transition: opacity .5s ease;
    display: none;

    &.is-out {
        display: block;
    }

    &.is-dark {
        opacity: 1;
    }
}


