/////////////////////////////////////-+++-/////////////////////////////////////////
// Modal
// this is a full site overlay or cover. Often appears as the background when a 
// modal popup is active.
/////////////////////////////////////-+++-/////////////////////////////////////////



.ModalWrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 102;
    width: 100%; 
    visibility: hidden;
    opacity: 0;
    transition: visibility .5s ease, opacity .5s ease;
    text-align: left;

    .Frame__inside {
        background: #fff;
        padding: 40px;
        position: relative;
    }

    .Modal__close {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 31px;
        color: $linkColor;
        transition: color $animation;

        i {
            transform: rotate(45deg);
            display: block;
            position: relative;
        }

        &:hover {
            color: $linkColorHover;
            cursor: pointer;
        }
    }

    .ModalCage &.is-out {
        visibility: visible;
        opacity: 1;     
    }
}