<div class="MobileMenuTriggers">
    <span id="MobileMenu__open" class="MobileMenu__open u-smallButton">
        <span class="u-fakeLink">Menu</span>
    </span>
    <span id="MobileMenu__close" class="MobileMenu__close u-smallButton">
    	<span class="u-fakeLink">Close</span>
    </span>
</div><!-- /.MobileMenuTriggers -->
