<div class="MobileMenuTriggers">
    <div class="Hamburger" id="MobileMenu__trigger" >
        <span class="Hamburger__iconWrapper"><span class="Hamburger__icon"><span></span></span></span>
        <span class="Hamburger__text">Menu</span>
    </div>
</div><!-- /.MobileMenuTriggers -->
