<div class="ModalWrapper Frame">
  <div class="Frame__inside">
    <div class="Modal__close">
      <i class="icon-plus"></i><span class="u-visuallyHidden">Close</span>
    </div>
    <article class="Modal">
      <h2>Hi, I'm a Modal!</h2>
    </article>
  </div>
</div><!-- /.Modal -->