<fieldset>
    <div class="InputGroup">
        <label for="text">Text Input <span class="required">*</span></label>
        <input id="text" type="text" placeholder="Text Input">
    </div>
    <div class="InputGroup">
        <label for="password">Password</label>
        <input id="password" type="password" placeholder="Type your Password">
    </div>
    <div class="InputGroup">
        <label for="webaddress">Web Address</label>
        <input id="webaddress" type="url" placeholder="http://yoursite.com">
    </div>
    <div class="InputGroup">
        <label for="emailaddress">Email Address</label>
        <input id="emailaddress" type="email" placeholder="name@email.com">
    </div>
    <div class="InputGroup">
        <label for="search">Search</label>
        <input id="search" type="search" placeholder="Enter Search Term">
    </div>
    <div class="InputGroup">
        <label for="text">Number Input <span class="required">*</span></label>
        <input id="text" type="number" placeholder="Enter a Number" pattern="[0-9]*">
    </div>
    <div class="InputGroup">
        <label for="textarea">Textarea</label>
        <textarea id="textarea" rows="8" cols="48" placeholder="Enter your message here"></textarea>
    </div>
    <div class="InputGroup has-feedback has-error">
        <label>Error Input</label>
        <input class="has-error" type="text" placeholder="Text Input">
    </div>
    <div class="InputGroup has-feedback has-success">
        <label>Valid</label>
        <input type="text" placeholder="Text Input">
    </div>
</fieldset>