<div class="InputGroup">
  <label>
    <input type="checkbox" value="">
    <span>Option one</span>
  </label>
  <label>
    <input type="checkbox" value="">
    <span>Option two</span>
  </label>
  <label>
    <input type="checkbox" value="">
    <span>Option three</span>
  </label>
</div>
