<div class="Frame {{ frameclass }}">
    <div class="Frame__inside">
        {% block frame_content %}
            <p>A Frame would never be a stand alone element. Something needs to be included here.</p>
        {% endblock %}
    </div><!-- /.Frame__inside -->
</div><!-- /.Frame -->