
{% include 'header/header.twig' %}

<main class="SiteMain">

    {% block main %}
    {% endblock %}
    
 </main>

{% include 'footer/footer.twig' %}


<!--//-+++- DONT REMOVE THIS COMMENT! its used by yeoman | afterFooter -+++-//-->