/////////////////////////////////////-+++-/////////////////////////////////////////
// h1-h6 headings
//
// Represent headings and subheadings
// All should have text utility placeholders applied to them as defaults - but 
// often the styles will get overriden elsewhere in the CSS depending on the
// object they contain. Headings have SEO and site-outline significance, so
// their placement in the markup is more important then their appearance.
//
// http://html5doctor.com/element-index/#h1
/////////////////////////////////////-+++-/////////////////////////////////////////



h1 { @extend %u-largeText; font-weight: 800; }
h2 { @extend %u-largeText; font-weight: 800; }
h3 { @extend %u-text; font-weight: 800; }
h4 { @extend %u-smallText; font-weight: 800; }
h5 { @extend %u-smallText; font-weight: 800; }
h6 { @extend %u-smallText; font-weight: 800;}
