/////////////////////////////////////-+++-/////////////////////////////////////////
// BrandList
// a special list with special brand dots
/////////////////////////////////////-+++-/////////////////////////////////////////



// this is written as a placeholder because it will get extended in WYSIWYG partials
%BrandList {
    overflow: auto;
    margin: 0;
    padding: 0;

    li {
        list-style: none;
        position: relative;
        padding: 0 0 0 18px;

        &:before {
            content: '';
            @include u-absolute(9px, null, null, 3px);
            //@extend .svg-caret; // replace with real svg class
        }
    }
}

.BrandList { @extend %BrandList; }