/////////////////////////////////////-+++-/////////////////////////////////////////
// BreadCrumbs
/////////////////////////////////////-+++-/////////////////////////////////////////



.Breadcrumbs {
    
    li {
        @extend %u-smallText;

        &:not(:last-child) {

            &:after {
                @extend %u-icomoon;
                content: '\f054';
                padding: 0 6px 0 10px;
                font-size: 10px;
            }
        }
    }
}
