/////////////////////////////////////-+++-/////////////////////////////////////////
// TeaserCard
//
// This is a grouping of text and images that looks like a card. Vertical in appearance
// and often shows up in groups. Also often acts as a teaser. Often shows up in a grid
// of some kind when in groups. The image goes to the edge of the container and the
// text is wrapped in a closed box with a background color and spacing.
//
//
//     +-------------------+
//     |                   |
//     |                   |
//     |       image       |
//     |                   |
//     |                   |
//     +-------------------+
//     |                   |
//     | Card Title        |
//     |                   |
//     | More example text |
//     | for what a 'card' |
//     | might look like.  |
//     |                   |
//     |                   |
//     +-------------------+
//
/////////////////////////////////////-+++-/////////////////////////////////////////



/////////////////////////////////////-+++-
// Variables


$TeaserCard-maxWidth: 570px;
$TeaserCard-bg: #fff;
$TeaserCard-spacing: 30px;



/////////////////////////////////////-+++-
// Default Card style

.TeaserCard {
    max-width: $TeaserCard-maxWidth;
    background: $TeaserCard-bg;
    margin-right: auto;
    margin-left: auto;    

    &__textGroup {
        padding: $TeaserCard-spacing;

    }

    &__title {
        @extend %u-largeText;
    }

    &__content {
        p {
            @extend %u-smallText;
            margin-bottom: 0;
        }
    }

    &--yellow {
        background: gold;
    }
}


/////////////////////////////////////-+++-
// TeaserCard grid

//.TeaserCardGrid {
//    //@include u-multiRowGrid--gutter(500px, 30px, 50%, 1000px, 33.3333% );
//    //@include u-equalColRow--gutter(700px, 30px);
//}



