<section class="ListBox">
	<header class="ListBox__header">
		<h2 class="ListBox__title u-giantTallText--skinny">
			{% block listbox_title %}
				Lorem <strong>Ipsum</strong>
			{% endblock %}
		</h2>
		{% block lisbox_intro %}{% endblock %}
	</header>

	<div class="ListBox__content">
		{% block listbox_content %}
			<div class="CardGridOneRow">
				<div>{% include 'molecules-card' %}</div>
				<div>{% include 'molecules-card' %}</div>
				<div>{% include 'molecules-card' %}</div>
			</div>
		{% endblock %}		
	</div><!-- /.ListBox__content -->

	{% block listbox_footer %}
		<footer class="ListBox__footer">
			<p class="u-smallText"><a href="">See more content</a></p>
		</footer>
	{% endblock %}
</section><!-- /.ListBox -->