<section class="ScreenLink">
    <a href="">
        <div class="ScreenLink__imageGroup">
            <img src="{{ post.img.rectangle.src }}" alt="" />
        </div><!-- /.ScreenLink__imageGroup -->
        <div class="ScreenLink__textGroup">
            <h4 class="ScreenLink__title">{{ post.heading.short }}</h4>
            <div class="ScreenLink__link">
                <span class="u-button">
                    <span class="u-fakeLink">Take Action</span>
                </span>
            </div><!-- /.ScreenLink__link -->
        </div><!-- /.ScreenLink__textGroup -->
    </a>
</section>