<article class="SlatLink">
    <a href="">
        <div class="SlatLink__imageGroup">
            <img src="{{ post.img.tallRectangle.src }}" alt="" />
        </div><!-- /.SlatLinkSlat__imageGroup -->
        <div class="SlatLink__textGroup">
            <h3 class="SlatLink__title">{{ post.heading.short }}</h3>
        </div><!-- /.SlatLinkSlat__textGroup -->
    </a>
</article>