<section class="Well">
	<header class="Well__header">
		<h3 class="Well__title">{% block well_title %}Lorem <strong>Ipsum</strong>{% endblock %}</h3>
		{% block well_intro %}
			<p>{{ post.excerpt.short }}</p>
		{% endblock %}
	</header>
	<div class="Well__content">
		{% block well_content %}
			<h4>{{ post.heading.short }}</h4>
			<p>{{ post.excerpt.medium }}</p>
		{% endblock %}
	</div><!-- /.Well__content -->
</section><!-- /.Well -->