<blockquote>
    <p>You know the golden rule, don’t you boy? Those who have the gold make the rules.</p>
    <footer>— Crazy hunch-backed old guy in <cite><a href="http://en.wikipedia.org/wiki/Aladdin_(1992_Disney_film)">Aladdin</a></cite>
    </footer>
</blockquote>