/////////////////////////////////////-+++-/////////////////////////////////////////
// some alignment utility classes
/////////////////////////////////////-+++-/////////////////////////////////////////



.u-alignRight {
    text-align: right;
}

.u-alignLeft {
    text-align: left;
}

.u-alignCenter {
    text-align: center;
}
