/////////////////////////////////////-+++-/////////////////////////////////////////
// Custom List styles
/////////////////////////////////////-+++-/////////////////////////////////////////



// Reset lists
%u-nolist {
    list-style: none;
    padding: 0;
    margin: 0;
}

%u-noList {
    @extend %u-nolist;
}

// basic inline list
%u-inlineList {
    list-style: none;
    padding: 0;
    margin: 0;

    > li,
    > div {
        display: inline-block;
    }
}

// basic stacked list
%u-stackedList {
    list-style: none;
    padding: 0;
    margin: 0;

    > li,
    > div {
        display: inline-block;
    }
}

// a sass loop to turn the placeholder classes above
// into utility classes for easy deployment directly in markup
$list-collection: 
nolist
noList
inlineList 
stackedList
;

@each $i in $list-collection { .u-#{$i} { @extend %u-#{$i}; } }
