/////////////////////////////////////-+++-/////////////////////////////////////////
// Custom List styles
/////////////////////////////////////-+++-/////////////////////////////////////////



/////////////////////////////////////-+++-
// Reset lists


%u-nolist {
    list-style: none;
    padding: 0;
    margin: 0;
}

.u-nolist > ul,
.u-nolist {
    @extend %u-nolist;
}



/////////////////////////////////////-+++-
// basic inline list


%u-inlineList {
    list-style: none;
    padding: 0;
    margin: 0;

    > li,
    > div {
        display: inline-block;
    }
}
