/////////////////////////////////////-+++-/////////////////////////////////////////
// Table grid layout
// This is 1 of 2 grid layouts in this theme. A table grid is perfect for single
// row grids. Situations where the grid only spans one row. If it breaks to
// multiple rows we should use an inline grid - see '_layout-inlineGrid.scss'
//
// This layout is based on 'ungrid': http://chrisnager.github.io/ungrid/
/////////////////////////////////////-+++-/////////////////////////////////////////



/////////////////////////////////////-+++-
// A mixing for applying a table based grid
// the immediate children of the mixin become the grid columns



@mixin u-tableGrid($bp) {
    @extend %u-nolist;
    width: 100%;
    
    @include mq($from: $bp) {
        display: table;
        table-layout: fixed;
    }

    & > div,
    & > li {

        @include mq($from: $bp) {
            display: table-cell;
            vertical-align: top;
        }
    }
}


// mixin for table grids with gutters
@mixin u-tableGrid--gutter($bp, $gutter) {
    @include u-tableGrid($bp);

    & > div,
    & > li {

        @include mq($from: $bp) {
            padding: 0 $gutter * .5;
        }

        &:first-child {
            @include mq($from: $bp) {
                padding-left: 0;
                padding-right: $gutter;
            }
        }

        &:last-child {
            @include mq($from: $bp) {
                padding-right: 0;
                padding-left: $gutter;
            }
        }

        &:not(:last-child) { 
            margin-bottom: $gutter;

            @include mq($from: $bp) {
                margin-bottom: 0;
            }
        }
    }  
}


// mixin for table grids with gutters and a border in between
@mixin u-tableGrid--border($bp, $gutter, $border) {
    @include u-tableGrid--gutter($bp, $gutter);

    & > div,
    & > li {
        position: relative;

        &:not(:last-child) { 
            margin-bottom: $gutter;
            border-bottom: 1px solid $border;
            padding-bottom: $gutter;

            @include mq($from: $bp) {
                margin-bottom: 0;
                padding-bottom: 0;
                border-bottom: none;
            }

            &:after {
                @include u-absolute(0px, 0px, null, null, $bp);
                content: '';
                height: 100%;
                width: 1px;
                background: $border;
                display: none;
                margin-right: -$gutter*.25;

                @include mq($from: $bp) {
                  display: block;
                }
            }
        }

        &:first-child:after {
            @include mq($from: $bp) {
                margin-right: $gutter*.25;
            }
        }
    }
}



// example of a table grid in use

.u-tableGrid {
    @include u-tableGrid( mobilemenu-bp );
}


