/////////////////////////////////////-+++-/////////////////////////////////////////
// Checkboxes and Radio form elements
// The CSS below assumes we will be totally removing the default checkbox/radio styles
// and creating our own look.
//
// They take markup like this:
//
//    <label>
//        <input type="checkbox">
//        <span>About Us</span>
//    </label>
//
/////////////////////////////////////-+++-/////////////////////////////////////////



$checkbox-border: $link-color;
$checkbox-background: #fff;
$checkbox-color: $link-color;


input[type="checkbox"],
input[type="radio"] {
    display: none;
}

label input[type="checkbox"] + span,
label input[type="radio"] + span {
    position: relative;
    padding-left: 27px;
    display: block;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: normal;
    text-transform: none;
    color: $text;

}

input[type="checkbox"] + span:after,
input[type="radio"] + span:after{
    content: '';
    @include u-absolute(2px, null, null, 2px);
    text-align: center;
    border: 1px solid $checkbox-border;
    background: $checkbox-background;
    margin-right: 8px;
    width: 20px;
    height: 20px;
    color: $checkbox-color;
}

input[type="checkbox"] + span:before,
input[type="radio"] + span:before {
    content: '';
    @include u-absolute(2px, null, null, 2px);
    z-index: 1;
}

input[type="checkbox"] + span:after {
    border-radius: 0;
}

input[type="radio"] + span:after {
    border-radius: 50%;
}

input[type="checkbox"]:checked + span,
input[type="radio"]:checked + span {
    color: $link-color;
}

input[type="checkbox"]:checked + span:after,
input[type="radio"]:checked + span:after {
    color: $link-color;
    border-color: $link-color;
}

input[type="checkbox"]:checked + span:before {
    @extend .svg-check;
    top: 6px;
    left: 5px;
}

input[type="radio"]:checked + span:before {
    @extend .svg-circle;
    top: 7px;
    left: 7px;
}
