/////////////////////////////////////-+++-/////////////////////////////////////////
// <mark>
//
// an html5 element for highlighting text
//
// http://html5doctor.com/draw-attention-with-mark/
/////////////////////////////////////-+++-/////////////////////////////////////////



mark {
    background: $link-color;
}