/////////////////////////////////////-+++-/////////////////////////////////////////
// Select dropdowns
// Chosen doesn't load on touch devices - so we still need to have some styles here
// for regular select dropdowns
//
//  <div class="u-select">
//      <select>
//          <option>Option One</option>
//          <option>Option Two</option>
//          <option>Option Three</option>
//      </select>
//  </div>
//
// http://html5doctor.com/element-index/#select
/////////////////////////////////////-+++-/////////////////////////////////////////



$select-borderColor: $gray;
$select-borderColorHover: $link-color;
$select-background: #fff;


.touch {
    .u-select {
        @extend %u-defaultInput;
        height: auto;
        box-shadow: none;
        background: #fff;
        border-color: #fff;
        position: relative;
        display: block;
        overflow: hidden;
        width: 100%;
        max-width: 100%;
        background: $select-background;
       
        // Hover style - tricky because we're clipping the overflow
        &:hover,
        &:focus {
          border-color: #fff;
        }
    }

    select {
        width: 110%;   // Make sure the select is wider than the container so we can clip the arrow 
        max-width: 110%;
        min-width: 110%;
        appearance: none; // Remove select styling
        -webkit-appearance: none;
        -moz-appearance: window; // Ugly Firefox way of doing it
        text-indent: 0.01px;
        text-overflow: "";
        background:none;
        border: none;
        outline: none;
        display: block;
    }

    // This hides native dropdown button arrow in IE 
    select::-ms-expand {
        display: none;
    }

    // Focus style
    select:focus {
        outline: none;
    }

    // This hides focus around selected option in FF
    select:-moz-focusring {
        color: transparent;
        text-shadow: 0 0 0 #000;
    }
}