/////////////////////////////////////-+++-/////////////////////////////////////////
// Chosen Select dropdowns
// These styles override those that the chosen plugin provides.
//
// @todo: this needs to be refactored to be able to take variables
//
// https://harvesthq.github.io/chosen/
/////////////////////////////////////-+++-/////////////////////////////////////////



.chosen-container {
    @extend %u-text;
    width: auto !important;
}

.chosen-container-single .chosen-single {
    @extend %u-defaultInput;
    height: auto;
    box-shadow: none;
    background: #fff;
    border-color: $gray-light;
}

.chosen-container-active.chosen-with-drop .chosen-single {
    background: #fff;
    box-shadow: none;
    border-color: $gray-light;

}

.chosen-container .chosen-drop {
    box-shadow: none;
    border-radius: 0;
}

.chosen-container-single .chosen-single div {
    width: 40px;

    .u-select--small & {
        width: 30px;
    }

    .u-select--arrow & {
        width: 50px;
    }

    &:after {
        @extend %u-absoluteCenter;
        //@extend %u-icomoon;
        content: '\f0d7';
        font-size: 19px;
        margin-top: -2px;

        .u-select--small & {
            font-size: 14px;
            margin-top: -1px;
        }

        .u-select--arrow & {
            //content: '\f0ab';
            color: $link-color;
            font-size: 27px;
        }
    }

    b {
        display: none;
    }
}

.chosen-container .chosen-results li {
    @extend %u-text;
}

.chosen-container-single .chosen-search {
    @extend %u-text;
}

.chosen-container .chosen-results li.active-result.highlighted {
    background: $link-color;
}
