/////////////////////////////////////-+++-/////////////////////////////////////////
// <small>
//
// The small element represents so-called “small print” such as legal disclaimers 
// and caveats.
//
// http://html5doctor.com/small-hr-element/
/////////////////////////////////////-+++-/////////////////////////////////////////



small {
    @include text-s;
}
