/////////////////////////////////////-+++-/////////////////////////////////////////
// <table>
//
// The table element represents data with more than one dimension, in the form of 
// a table. Tables must not be used as layout aids. (the css 'display: table;' on 
// the other hand is totally acceptable as a layout method)
//
// http://html5doctor.com/element-index/#table
/////////////////////////////////////-+++-/////////////////////////////////////////



table {
    background: $white;
    width: 100%;
    text-align: left;
    @include text-s;
    color: $navy;
}

th,
td {
    padding: 6px 8px;
}

th {
    tr {
        border-top: none;
    }
}

thead {
    background: $red;
    color: $white;
}

tbody {
    background: #ddd;
}

tfoot {
    background: $gray;
    color: $white;
}
