/////////////////////////////////////-+++-/////////////////////////////////////////
// <table>
//
// The table element represents data with more than one dimension, in the form of 
// a table. Tables must not be used as layout aids. (the css 'display: table;' on 
// the other hand is totally acceptable as a layout method)
//
// http://html5doctor.com/element-index/#table
/////////////////////////////////////-+++-/////////////////////////////////////////



table {
    background: #fff;
    width: 100%;
    text-align: left;
    @include text-s;
}

th,
td {
    padding: 6px 0;
}

th {
    tr {
        border-top: none;
    }
}

tbody tr {
    border-top: 1px solid $grayLight;

    &:last-child {
        border-bottom: 4px solid $grayLight;
    }

    &:first-child {
        border-top-width: 4px;
    }
}
