<fieldset>
    <div class="InputGroup InputGroup--inline">
        <label for="text">Text Input <span class="required">*</span></label>
        <input id="text" type="text" placeholder="Text Input">
    </div>
    <div class="InputGroup InputGroup--inline">
        <label for="password">Password</label>
        <input id="password" type="password" placeholder="Type your Password">
    </div>
</fieldset>