/////////////////////////////////////-+++-/////////////////////////////////////////
// Frame
// A Frame is what wraps content and touches the edge of the browser window.
// It has one child that gives the content a max width and aligns the content.
//
// The markup of a frame looks like this:
//
//  <div class="Frame">
//    <div class="Frame__inside">
//      ... lorem ipsum ...
//    </div>
//  </div>
//
// and visually could look something like this:
//
//    +-------------------------------------------+
//    |                                           |   <- this outside ring is the 'Frame'
//    |                                           |   
//    |     +------------------------------+      |
//    |     |                              |      |
//    |     |                              |      |   <- the content inside are other
//    |     |                              |      |      individual css objects
//    |     |                              |      |
//    |     |                              |      |
//    |     |                              |      |
//    |     |                              |      |
//    |     |                              |      |
//    |     +------------------------------+      |
//    |                                           |
//    |                                           |
//    +-------------------------------------------+
//
/////////////////////////////////////-+++-/////////////////////////////////////////




$Frame-small: 25px;
$Frame-medium: 70px;
$Frame-large: 110px;

.Frame {
    padding: $Frame-medium $Frame-small;
    position: relative;
    width: 100%;

    @include mq($from: small-bp) {
        padding: $Frame-medium $Frame-small;
    }

    @include mq($from: mobilemenu-bp) {
        padding: $Frame-large 50px;
    }

    &__inside {
        position: relative;
        margin-right: auto;
        margin-left: auto;
        max-width: $content-max-width;
    }

    // this is for when there are multiple items inside of a frame, they get spacing
    &--list {
        .Frame__inside {
            > div:not(:last-child),
            > section:not(:last-child),
            > article:not(:last-child) {
                margin-bottom: 60px;
                border-bottom: 10px solid $text;
                padding-bottom: 60px;
            }
        }
    }

    // Frame with no padding (for when content spans height of container)
    &--noSpacing {
        padding-top: 0;
        padding-bottom: 0;
    }

    &--noSpacingBottom {
        padding-bottom: 0;
    }
    
    &--dark {
        background: darken($navy, 2%);
    }

    &--light {
        background: lighten($navy, 2%);
    }
}
