/////////////////////////////////////-+++-/////////////////////////////////////////
// Post
//
// Styles for the main article or post. On a blog page this would be the actual
// blog text. It has sidebars sometimes, it has lots of 'fields'.
//
//
/////////////////////////////////////-+++-/////////////////////////////////////////



.Post {

    &__header {

    }

    &__title {
        @include title-l; 
        color: $white;
    }

    &__content {
        
    }

    &__body {
        
    }

}



/////////////////////////////////////-+++-
// unique styles for the wysiwyg content
//

.u-WYSIWYG {

    p:last-child {
        margin-bottom: 0;
    }

    p + .CaptionImage {
        margin-top: 50px;
    }


    h1, h2, h3, h4, h5, h6 {
        margin-top: $spacing * 2;
    }

    hr {
        margin: $spacing * 2 0;
    }

    blockquote {
        margin-bottom: $spacing;
    }
}