/////////////////////////////////////-+++-/////////////////////////////////////////
// Teaser
//
// This is a grouping of text and images that is horizontal in appearance.
// Often shows up in groups. Also often acts as a teaser. Usually full width, not
// in grids.
//
//     
//     Example Title of Teaser                           +---------+  
//                                                       |         |  
//     More example text for what a teaser looks like.   |  image  |       
//     Does this visual example help you understand      |         |       
//     what this element is? I sure hope so.             +---------+     
//     
//
/////////////////////////////////////-+++-/////////////////////////////////////////



/////////////////////////////////////-+++-
// Variables


$Teaser-bp: mobilemenu-bp;


/////////////////////////////////////-+++-
// Default Slat style


.Teaser {
    //@include u-fixedFluidRow($Teaser-bp, "right", 30px);

    &__imageGroup {

        @include mq($until: $Teaser-bp) {
            display: none; // hide images on mobile
        }
    }

    &__title {
        @extend %u-largeText;
        font-weight: 900;
        margin-bottom: 0;
    }

    &__header {
        margin-bottom: 10px;
    }

    &__author,
    &__date,
    &__excerpt {
        @extend %u-smallText;
    }

    &__excerpt {
        p {
            margin-bottom: 0;
        }
    }
}



/////////////////////////////////////-+++-
// Teaser grid

// for single row grids of slats
// .TeaserGrid {
//     @include u-equalColRow--border(1120px, 70px, $text, 10px);

//     .TeaserSlat__imageGroup {
//         display: none; // hide images when slats show up in grids
//     }
// }

