/////////////////////////////////////-+++-/////////////////////////////////////////
// Layout utility styles 
/////////////////////////////////////-+++-/////////////////////////////////////////




/////////////////////////////////////-+++-
// Text Alignment


.u-alignRight   { text-align: right; }
.u-alignLeft    { text-align: left; }
.u-alignCenter  { text-align: center; }
.u-alignBlockCenter { margin-right: auto; margin-left: auto;}



/////////////////////////////////////-+++-
// floating
// also includes a utility for floating an image with caption and the appropriate spacing

$float-bp: small-bp;

.u-floatRight { @include mq($from: $float-bp) { float: right; } }
.u-floatLeft { @include mq($from: $float-bp) { float: left; } }

.u-captionImageRight {
    margin: 30px 0;
    position: relative;

    @include mq($from: $float-bp) {
        float: right;
        max-width: 50%;
        margin: 0 0 30px 30px;
    }
}

.u-captionImageLeft {
    margin: 30px 0;
    position: relative;
    
    @include mq($from: $float-bp) {
        float: left;
        max-width: 50%;
        margin: 0 30px 30px 0;
    }
}


/////////////////////////////////////-+++-
// Absolute positioning


.u-relative { position: relative; }
.u-static { position: static; }

.u-topRight { @include u-absolute(0, 0, null, null); }
.u-topRight--s { @include u-absolute(0, 0, null, null, small-bp); }
.u-topLeft { @include u-absolute(0, null, null, 0); }
.u-topLeft--s { @include u-absolute(0, null, null, 0, small-bp); }

.u-bottomRight { @include u-absolute(null, 0, 0, null); }



/////////////////////////////////////-+++-
// Very misc. utility layout classes


.u-block { display: block; }
.u-inlineblock { display: inline-block; }
.u-inline { display: inline; }


.u-middleText {
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
}



/////////////////////////////////////-+++-
// Reset lists placeholder

%u-noList {
    list-style: none;
    padding: 0;
    margin: 0;
}

.u-noList, .u-noListMenu ul { @extend %u-noList; }



/////////////////////////////////////-+++-
// Simple stacked lists


.u-stack {
    @extend %u-noList;
}

.u-tinyStack {
    @extend %u-noList;

    > li:not(:last-child),
    > div:not(:last-child) {
        margin-bottom: 20px; 
    }    
}

.u-smallStack {
    @extend %u-noList;

    > li:not(:last-child),
    > div:not(:last-child) {
        margin-bottom: 30px; 
    }    
}

.u-mediumStack {
    @extend %u-noList;

    > li:not(:last-child),
    > div:not(:last-child) {
        margin-bottom: 50px; 
    }    
}

.u-largeStack {
    @extend %u-noList;
    
    > li:not(:last-child),
    > div:not(:last-child) {
        margin-bottom: 90px; 
    }    
}


/////////////////////////////////////-+++-
// Simple inline-lists


.u-inlineList {
    @extend %u-noList;

    > li,
    > div {
        display: inline-block;
        vertical-align: top;
    }
}


.u-smallInlineList {
    @extend %u-noList;

    > div,
    > li {       
        margin-bottom: 14px;

        @include mq($from: small-bp) {
            display: inline-block;
            vertical-align: top;
        }
    }

    > div:not(:last-child),
    > li:not(:last-child) {        
        @include mq($from: small-bp) {
            margin-right: 14px;
        }
    }
}

.u-largeInlineList {
    @extend %u-noList;
    
    > div,
    > li,
    > dl {       
        margin-bottom: 6px;

        @include mq($from: small-bp) {
            display: inline-block;
            vertical-align: top;
        }
    }

    > div:not(:last-child),
    > li:not(:last-child),
    > dl:not(:last-child) {        
        @include mq($from: small-bp) {
            margin-right: 23px;
        }
    }
}


/////////////////////////////////////-+++-
// Special, styled lists

.u-commaList {
   @extend %u-noList;

    > li,
    > div {
         display: inline;
         vertical-align: top;
    }

    > li:not(:last-child),
    > div:not(:last-child) {

        &:after {
            content: ',';
        }
    }
}

.u-pipeList {
    @extend %u-noList;

    > li,
    > div {
         display: inline-block;
         vertical-align: top;
    }

    > li:not(:last-child),
    > div:not(:last-child) {
        border-right: 1px solid #D8D8D8;
        margin-right: 8px;
        padding-right: 10px;
    }    
}


/////////////////////////////////////-+++-
// some misc. spacing utility classes


.u-truncate { margin-bottom: 0; }
.u-truncatePadding { padding: 0; }
.u-truncateP p { margin-bottom: 0; }

.u-padding__10 { padding: 10px; }
.u-padding__20 { padding: 20px; }
.u-padding__30 { padding: 30px; }

.u-margin__5    { margin-bottom: 5px; }
.u-margin__10   { margin-bottom: 10px; }
.u-margin__20   { margin-bottom: 20px; }
.u-margin__30   { margin-bottom: 30px; }
.u-margin__40   { margin-bottom: 40px; }
.u-margin__50   { margin-bottom: 50px; }
.u-margin__60   { margin-bottom: 60px; }
.u-margin__70   { margin-bottom: 30px; @include mq($from: small-bp) { margin-bottom: 70px; } }
.u-margin__80   { margin-bottom: 30px; @include mq($from: small-bp) { margin-bottom: 80px; } }
.u-margin__90   { margin-bottom: 35px; @include mq($from: small-bp) { margin-bottom: 90px; } }
.u-margin__100  { margin-bottom: 35px; @include mq($from: small-bp) { margin-bottom: 100px; } }

.u-marginTop__5     { margin-top: 5px; }
.u-marginTop__10    { margin-top: 10px; }
.u-marginTop__20    { margin-top: 20px; }
.u-marginTop__60    { margin-top: 60px; }
.u-marginTop__100   { margin-top: 100px; }

.u-marginRight__5 { margin-right: 5px;}
.u-marginRight__10 { margin-right: 10px;}
.u-marginRight__15 { margin-right: 15px;}
.u-marginRight__20 { margin-right: 20px;}
