/////////////////////////////////////-+++-/////////////////////////////////////////
// Text
// This is the default, sitewide font and its varients
/////////////////////////////////////-+++-/////////////////////////////////////////



%u-text {
	font: 500 18px/28px $SansSerif;
}

%u-smallText {
	font: 500 15px/23px $SansSerif;
}

%u-largeText {
    font: 400 23px/30px $SansSerif;
}



// a sass loop to turn the placeholder classes above
// into utility classes for easy deployment of these text types
$text-collection: 
text 
smallText 
largeText 
;

@each $i in $text-collection { .u-#{$i} { @extend %u-#{$i}; } }



/////////////////////////////////////-+++-
// Default text spacing.
// If we ever want to try better alignment site wide with text, those styles would go here.


$spacing: 20px;

h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
p,
blockquote,
input {
    margin: 0 0 $spacing; // need full margin values here to reset browser defaults
}
