/////////////////////////////////////-+++-/////////////////////////////////////////
// Visual Embellishments
/////////////////////////////////////-+++-/////////////////////////////////////////


// background colors
.u-grayBg { background: $gray; }
.u-whiteBg { background: $white; }
.u-blackBg { background: $black; }
.u-lightgrayBg{ background: $gray-light; }


// text colors
.u-text { color: $text; }
.u-gray { color: $gray; }
.u-white { color: $white; }
.u-black { color: $black; }
.u-lightgray { color: $gray-light; }



//-+++- DONT REMOVE THIS COMMENT! its used by Yeoman | visuals -+++-//
