.svg-badge-community {
	width: 125px;
	height: 115px;
	background-position: 0 0;
}

.svg-badge-event {
	width: 125px;
	height: 115px;
	background-position: -130px 0;
}

.svg-badge-healthy {
	width: 125px;
	height: 115px;
	background-position: -260px 0;
}

.svg-badge-legal {
	width: 125px;
	height: 115px;
	background-position: -390px 0;
}

.svg-badge-organizer {
	width: 125px;
	height: 115px;
	background-position: -520px 0;
}

.svg-badge-research {
	width: 125px;
	height: 115px;
	background-position: -650px 0;
}

.svg-badge-tools {
	width: 125px;
	height: 115px;
	background-position: -780px 0;
}

.svg-badge-volunteer {
	width: 125px;
	height: 115px;
	background-position: -910px 0;
}

.svg-clipboard {
	width: 51px;
	height: 46px;
	background-position: -1040px 0;
}

.svg-test-01 {
	width: 125px;
	height: 115px;
	background-position: -1100px 0;
}

.svg-badge-community, .svg-badge-event, .svg-badge-healthy, .svg-badge-legal, .svg-badge-organizer, .svg-badge-research, .svg-badge-tools, .svg-badge-volunteer, .svg-clipboard, .svg-test-01 {
	background-size: 1230px 120px;
	background-repeat: no-repeat;
	background-image: url("../../build/img/sprite.png");
}

.svg .svg-badge-community, .svg .svg-badge-event, .svg .svg-badge-healthy, .svg .svg-badge-legal, .svg .svg-badge-organizer, .svg .svg-badge-research, .svg .svg-badge-tools, .svg .svg-badge-volunteer, .svg .svg-clipboard, .svg .svg-test-01 {
	background-image: url("../../build/img/sprite.svg");
}
