{% macro input(placeholder, submit)%}
<div class="HeaderNewsletter">
    <form>
        <div class="InputGroup InputGroup--email">
            <input type="email" placeholder="{{ placeholder }}" />
        </div>
        <div class="InputGroup InputGroup--submit">
            <input type="submit" value="{{ submit }}" />
        </div>
    </form>
</div>
{% endmacro %}