/////////////////////////////////////-+++-/////////////////////////////////////////
// TeaserCardLink
//
// Similar to a Card except the whole thing is wrapped in a link and there typically
// isn't a long summary.
//
//
//     +-------------------+
//     |                   |
//     |                   |
//     |       image       |
//     |                   |
//     |                   |
//     +-------------------+
//     | Card Title        |
//     +-------------------+
//
/////////////////////////////////////-+++-/////////////////////////////////////////


$TeaserCardLink-maxWidth: 570px;
$TeaserCardLink-bg: $link-color;

.TeaserCardLink { 

    a {
        display: block;
        color: #fff;
        text-align: left;
        max-width: $TeaserCardLink-maxWidth;
        margin-right: auto;
        margin-left: auto;  
        position: relative;

        &:hover {
            color: #fff;

            .TeaserCardLink__textGroup {
                background: lighten($TeaserCardLink-bg, 10%);
            }
        }
    }

    &__title {
        margin-bottom: 0;
    }

    &__textGroup {
        padding: 11px 15px;
        background: $TeaserCardLink-bg;
        position: relative;
        margin-bottom: 0;
        z-index: 2;
        width: 100%;
        transition: background $animation;
    }
}

