<figure class="CaptionImage {{ class }}">
    <div class="CaptionImage__creditWrapper">
	   <img src="http://dummyimage.com/400x300/888/fff.png" alt="">
	   <div class="CaptionImage__credit">{{ post.author }}</div>
    </div><!-- /.CaptionImage__creditWrapper -->
    <figcaption class="CaptionImage__caption"><p>{{ post.excerpt.long }} </p></figcaption>
</figure><!-- /.CaptionImage -->