<section class="ListBox">
	<header class="ListBox__header">
		<h2 class="ListBox__title u-giantTallText--skinny">
			{% block listbox_title %}
				List <strong>Box</strong>
			{% endblock %}
		</h2>
		{% block lisbox_intro %}{% endblock %}
	</header>

	<div class="ListBox__content">
		{% block listbox_content %}
			<p>Hey I'm a List Box</p>
		{% endblock %}		
	</div><!-- /.ListBox__content -->

	{% block listbox_footer %}
		<footer class="ListBox__footer">
			<p><a href="">Listbox Links</a></p>
		</footer>
	{% endblock %}
</section><!-- /.ListBox -->