<section class="TeaserScreenLink">
    <a href="">
        <div class="TeaserScreenLink__imageGroup">
            <img src="{{ img.img620x364.src }}" alt="" />
        </div><!-- /.TeaserScreenLink__imageGroup -->
        <div class="TeaserScreenLink__textGroup">
            <h4 class="TeaserScreenLink__title">{{ post.heading.short }}</h4>
            <div class="TeaserScreenLink__link">
                <span class="u-button">
                    <span class="u-fakeLink">Take Action</span>
                </span>
            </div><!-- /.TeaserScreenLink__link -->
        </div><!-- /.TeaserScreenLink__textGroup -->
    </a>
</section>