<article class="TeaserLink">
    <a href="">
        <div class="TeaserLink__imageGroup">
            <img src="{{ post.img.tallRectangle.src }}" alt="" />
        </div><!-- /.TeaserLinkSlat__imageGroup -->
        <div class="TeaserLink__textGroup">
            <h3 class="TeaserLink__title">{{ post.heading.short }}</h3>
        </div><!-- /.TeaserLinkSlat__textGroup -->
    </a>
</article>