/////////////////////////////////////-+++-/////////////////////////////////////////
// SiteWrappers
//
// This elemement follows the <body> tag and wraps the entire page. Its required
// to make the MobileMenu work properlly and to apply a max-width on page content.
/////////////////////////////////////-+++-/////////////////////////////////////////

.SiteWrapper1,
.SiteWrapper2 {
  height: 100%;
  position: relative;
  min-height: 800px;
  //max-width: $page-max-width;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
}